@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat'),
      url('./Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat'),
      url('./Fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
  }


  .mont-reg{
    font-family: Montserrat-Regular;
  }

  .mont-bold{
    font-family: Montserrat-Bold;
  }